$fonts-size:(
    'font-size':(
        'font-s10':10px,
        'font-s12':12px,
        'font-s14':14px,
        'font-s16':16px,
        'font-s18':18px,
        'font-s20':20px,
        'font-s22':22px,
        'font-s24':24px,
        'font-s26':26px,
        'font-s28':28px,
        'font-s30':30px,
        'font-s32':32px,
        'font-s34':34px,
        'font-s36':36px,
        'font-s38':38px,
        'font-s40':40px,
        'font-s42':42px,
        'font-s44':44px,
        'font-s46':46px,
        'font-s48':48px,
        'font-s50':50px,
        'font-s52':52px,
        'font-s54':54px,
        'font-s55':55px,
        'font-s56':56px,
        'font-s58':58px,
        'font-s60':60px,
        'font-s62':62px,
        'font-s64':64px,
        'font-s66':66px,
        'font-s68':68px,
        'font-s70':70px,
        'font-s80':80px,
        'font-s90':90px,
    )

);

$fontsweight:(
    'weight':(
        'regular':400,
        'medium':500,
        'semibold':600,
        'bold':700,
        'ex-bold':800,
    )
);


$fontsfamily:(
    'family':(
        'font1':"'Manrope', sans-serif",
        'font2':"'Lato', sans-serif",
    )
);


$height:(
     'specing': (
          'height6': 6px,
          'height8': 8px,
          'height10': 10px,
          'height12': 12px,
          'height14': 114px,
          'height16': 16px,
          'height18': 18px,
          'height20': 20px,
          'height22': 22px,
          'height24': 24px,
          'height26': 26px,
          'height28': 28px,
          'height30': 30px,
          'height32': 32px,
          'height34': 34px,
          'height36': 36px,
          'height38': 38px,
          'height40': 40px,
          'height42': 42px,
          'height44': 44px,
          'height46': 46px,
          'height48': 48px,
          'height50': 50px,
          'height52': 52px,
          'height54': 54px,
          'height55': 55px,
          'height56': 56px,
          'height58': 58px,
          'height60': 60px,
          'height64': 64px,
          'height70': 70px,
          'height72': 72px,
          'height80': 80px,
          'height82': 82px,
          'height90': 90px,
          'height92': 92px,
          'height100': 100px,
          'height110': 110px,
          'height120': 120px,
          'height130': 130px,
        )
);