@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 1 
/*----------------------------------------*/




.vl-transparent-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}


// header top start
.header-top{
    padding-top: 19px;
    padding-bottom: 19px;
    & ul{
        & li{
            display: inline-block;
            margin-right: 17px;
            padding-right: 17px;
            position: relative;
            z-index: 1;
            &::after{
                position: absolute;
                content: "";
                top: 3px;
                height: 19px;
                width: 2px;
                background: #2B7DCF;
                right: 0px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            & a{
                color: var(--vkl-text-text-white);
                font-size: var(--vkl-font-size-font-s18);
                font-weight: var(--vkl-weight-medium);
                line-height: var(--vkl-specing-height18);
                transition: .3s;
                &:hover{
                    color: var(--vkl-bg-bg-2);
                    transition: .3s;
                }
            }
        }
    }
}




.vl-header-area {
    @media #{$md,$xs}{
        padding-bottom: 24px;
        padding-top: 24px;
    }
}

.vl-main-menu{
    & ul{
        & > li{
            display: inline-block;
            margin-right: 30px;
            @media #{$lg}{
                margin-right: 20px;
            }
            position: relative;
            & > a{
                color: var(--vkl-text-text-black);
                font-size: var(--vkl-font-size-font-s18);
                line-height: var(--vkl-specing-height18);
                display: inline-block;
                position: relative;
                transition: .3s;
                padding: 31px 0;
               & span {
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            &:hover{
                & a{
                    color: var(--vkl-text-text-1);
                    &:before{
                        opacity: 1;
                        top: 0;
                    }
                }
            }
            & .sub-menu{
                position: absolute;
                top: 105%;
                width:180px;
                left: 0;
                background: var(--vkl-text-text-white);
                border-radius: 6px;
                padding: 16px 0;
                opacity: 0;
                visibility: hidden;
                box-shadow: 0px 20px 30px rgba(1,15,28,0.1);
                transition: .3s;
               
                
                & li{
                    margin-right: 0;
                    display: block;
                    text-align: start;
                    & a{
                        color: var(--vkl-text-text-black);
                        display: block;
                        padding: 4px 25px;
                        font-size: 17px;
                        &:before{
                            display: none;
                        }
                    }
                    & .sub-menu{
                        left: 100%;
                        top: 105%;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                    }
                    &:hover{
                        & > a{
                            color: var(--vkl-bg-bg-2);
                            transition: .3s;
                        }
                        & > .sub-menu{
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                        }
                    }
                }
            }

            &:hover{
                & a{
                    color: var(--vkl-bg-bg-2);
                }
                & .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }

        }
    }
    &-black{
        & ul{
            & li{
                & a{
                    color: #0A0E1A;
                    &:before{
                        color: var(--vl-theme-orange);
                    }
                }
                &:hover{
                    & a{
                        color: var(--vl-theme-orange);
                    }
                }
                & .sub-menu{
                    & li{
                        &:hover{
                            & > a{
                                color: var(--vl-theme-orange);
                            }
                        }
                    }
                }
            }
        }
    }
}

// mega-menu

.vl-main-menu ul > li:hover .vl-mega-menu{
    opacity: 1;
    visibility: visible;
    transition: .3s;
    top: 100%;
}

.vl-mega-menu {
    position: absolute;
    left: -314px;
    top: 105%;
    width: 1295px;
    background: var(--vkl-text-text-white);
    padding: 25px;
    padding-bottom: 0;
    box-shadow: 0px 20px 30px rgba(1,15,28,0.1);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border-radius: 8px;
    @media #{$lg}{
        left: -162px;
        width: 929px;
    }

    @media #{$md,$xs}{
        width: auto;
        opacity: 1;
        visibility: visible;
        transition: none;
        position: static;
        display: none;
    }
}

.vl-home-thumb {
    text-align: center;
}

.vl-home-title {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 14px;
}

.vl-home-thumb img {
    box-shadow: 0px 2px 6px rgba(1,15,28,0.2);
}

// New Mega Menu Design


.vl-home-thumb{
    position: relative;
    z-index: 1;
    .vl-thumb{
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
}
.vl-home-thumb{
    & .vl-thumb:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #333;
        transform: scale(.5);
        transition: .3s;
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        & .vl-thumb:after {
            transform: scale(1);
            opacity: .4;
            visibility: visible;
        }
    }
}



.vl-thumb-btn {
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 1;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 10%;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.vl-home-thumb:hover .vl-thumb-btn {
    opacity: 1;
    visibility: visible;
    top: 50%;
    transition: .3s;
}




// stiky header
.header-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--vkl-text-text-white);
    box-shadow: 0px 20px 30px rgba(167, 167, 167, 0.1);
    -webkit-animation: .7s ease-in-out 0s normal none 1 running vlfadeInDown;
    animation: .7s ease-in-out 0s normal none 1 running vlfadeInDown;

}