@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 Footer Style 1
/*----------------------------------------*/


.vl-footer{
    &-content{
        p {
            color:var(--vkl-text-text-2);
            margin: 0;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height26);
            font-weight: var(--vkl-weight-medium);
        }
    }
    &-widget{
        &-title{
            color: var(--vkl-text-text-black);
            font-size: var(--vkl-font-size-font-s24);
            line-height: var(--vkl-specing-height24);
            font-weight: var(--vkl-weight-bold);
            @media #{$xl}{
                font-size: var(--vkl-font-size-font-s20);
            }
        }
        &-2{
            margin-left: 106px;
            @media #{$xl}{
                margin-left: 70px;
            }
            @media #{$md,$xs}{
                margin-left: 0;
            }
        }
        &-3{
            &.ml-40 {
                @media #{$xl,$md,$xs}{
                    margin-left: 0px;
                }
                
            }
        }

        &-4{
            margin-left: 72px;
            @media #{$xl}{
                margin-left: 0px;
            }
            @media #{$md,$xs}{
                margin-left: 0;
            }
            p{
                color: #fff;
                opacity: .8;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    &-menu{
        & ul{
            & li{
                & a{
                    color:var(--vkl-text-text-2);
                    transition: .3s;
                    font-size: var(--vkl-font-size-font-s18);
                    font-weight: var(--vkl-weight-medium);
                    line-height: var(--vkl-specing-height18);
                    margin-bottom: 28px;
                    display: block;
                    &:hover{
                        color: var(--vkl-bg-bg-2);
                        opacity: 1;
                        transition: .3s;
                    }
                }
            }
        }
    }
    &-newsletter{
        & {
            input[type=email] {
            border-radius: 4px;
            }
        }
        &-btn{
            & .vl-btn-sec{
                width: 100%;
                text-align:center;
            }
        }
    }
    
    &-copyright{
        &-text{
            color: var(--vl-white-8);
            padding: 24px 0;
            margin: 0;
            border-top: 1px solid #585D79;
        }
    }
}

// newslatter form 1
.footer-newsfrm{
    input[type="email"]{
        height: 60px;
        line-height: 60px;
        border-radius: 8px;
        border: 1px solid #F1F1F1;
        color: var(--vkl-text-text-2);
        &::placeholder{
            font-size: var(--vkl-font-size-font-s18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-2);
        }
    }
}



// copy right
.vl-copy-righ1t{
    padding: 22px 0;
    padding-bottom: 0;
    border-top: 1px solid #DCDDE6;
    & .vl-footer-copy-right-widget{
        & .para{
            color: var(--vkl-text-text-2);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-medium);
            @media #{$xs}{
                text-align: center;
            }
        }
    }
    & .vl-copy-right-menu{
        text-align: right;
        @media #{$xs}{
            text-align: center;
        }
        & ul{
            & li{
                display: inline-block;
                margin-left: 16px;
                padding-left: 16px;
                position: relative;
                z-index: 1;
                @media #{$xs}{
                    margin-left: 0;
                    padding-left: 0;
                    margin-right: 16px;
                    padding-right: 16px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    right:-16px;
                    top: 0;
                    width: 2px;
                    height: 16px;
                    background:#DADBE1;
                    @media #{$xs}{
                        right: 0;
                    }
                }
                &:last-child{
                    @media #{$xs}{
                        margin-right: 0px;
                        padding-right: 0px;
                    }
                    &::after{
                        display: none;
                    }
                }
                & a{
                    color: var(--vkl-text-text-2);
                    font-size: var(--vkl-font-size-font-s20);
                    line-height: var(--vkl-specing-height20);
                    font-weight: var(--vkl-weight-medium);
                    display: block;
                    transition: .3s;
                    &:hover{
                        color: var(--vkl-bg-bg-2);
                        transition: .3s;
                    }
                }
            }
        }
    }
}
