@use '../utils' as *;

/*----------------------------------------*/
/*  2.19 IconBox
/*----------------------------------------*/

.social-area{
    & a{
        display: inline-block;
        background: #2B7DCF;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50px;
        color: var(--vkl-text-text-white);
        transition: .3s;
        margin-left: 6px;
        &:hover{
            background: var(--vkl-bg-bg-2);
            transition: .3s;
            color: var(--vkl-text-text-white);
        }
    }
    &-header{
        text-align: right;
    }
    &-footer{
        & a{
            background: var(--vkl-text-text-white);
            color: var(--vkl-text-text-black);
            margin-left: 0;
            margin-right: 12px;
        }
    }
}

// footer icon list
.vl-icon-list{
    & ul{
        & li{
            & a{
                color: var(--vkl-text-text-2);
                font-size: var(--vkl-font-size-font-s18);
                font-weight: var(--vkl-weight-medium);
                line-height: var(--vkl-specing-height18);
                transition: .3s;
                &:hover{
                    color: var(--vkl-bg-bg-2);
                    transition: .3s;
                }
            }
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}